<br />
<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="about">
            <%= image_tag "me.jpg", class: 'img-fluid me' %> 
              <h1>Clark Jason Ngo</h1>
              <h2>SOFTWARE ENGINEER</h2>
              <hr class="grey"/>
            <p class="bio about">Clark is a sofware developer. He holds a degree in Master of Science in Computer Science in City University of Seattle and a certificate in Software Engineering with The Firehose Project.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
